<div class="row cover">
                    <button type="button" class="btn"
                            onclick='document.getElementById("tname").innerHTML = "Traseul {index}"; document.getElementById("fname").innerHTML = "<iframe width=\"80%\" src=\"{iframe_src}\" width=\"2400\" height=\"750\" frameborder=\"0\" style=\"border:0\" allowfullscreen></iframe>"'>
                        Traseul {index}
                    </button>

                    Durata transport: {duration} <br />
        		    {tour} <br />
                </div>
